$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$light-color: white;
$site-width: 98rem;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: $site-width;
  margin: 0 auto;
}
