.HomePage {

  .homeContent {
    margin: 1.5rem auto;

    .container {
      // padding: 0 1rem;
    }

    .mainSlider {
      .slick-slider {
        margin-bottom: 3rem;
      }

      .slick-slide {
        max-height: 30rem;
      }

      .slick-slide img {
        max-width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}
